In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy
  Downloading numpy-2.3.4-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting matplotlib
  Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vijay\documents\school\fall 2025\dtsc1301\dtsc-1302-final-project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\vijay\documents\school\fall 2025\dtsc1301\dtsc-1302-final-project\.venv\lib\site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib)
  Using cached pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in c:\users\vijay\documents\school\fall 2025\dtsc1301\dtsc-1302-final-project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ----------- ---------------------------- 3.1/11.0 MB 16.5 MB/s eta 0:00:01
   ---------------------- ----------------- 6.3/11.0 MB 15.0 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 14.4 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 13.9 MB/s eta 0:00:00
Downloading numpy-2.3.4-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   --------- ------------------------------ 3.1/12.8 MB 16.2 MB/s eta 0:00:01
   -------------------- ------------------- 6.6/12.8 MB 15.8 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.8 MB 15.4 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.8 MB 15.0 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 14.2 MB/s eta 0:00:00
Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ------------------ --------------------- 3.7/8.1 MB 17.7 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.1 MB 17.3 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 15.6 MB/s eta 0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---------------------------------------- 2.3/2.3 MB 15.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   ----------------- ---------------------- 3.1/7.0 MB 16.0 MB/s eta 0:00:01
   -------------------------------------- - 6.8/7.0 MB 16.6 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 15.5 MB/s eta 0:00:00
Using cached pyparsing-3.2.5-py3-none-any.whl (113 kB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 numpy-2.3.4 pandas-2.3.3 pillow-12.0.0 pyparsing-3.2.5 pytz-2025.2 seaborn-0.13.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
df = pd.read_csv("employment_income_dataset.csv")

display(df.describe())
df.info()
df.head()

,employee_id,age,years_experience,training_hours,certifications_count,performance_rating,manager_feedback_score,work_life_balance_score,salary_satisfaction,annual_income_usd,bonus_percent,commute_time_minutes,overtime_hours_monthly,job_satisfaction_score
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0000
mean,1000.500000,42.694000,19.557500,20.417500,1.067000,3.489000,5.368800,5.470550,5.500000,70351.517500,9.854700,30.087000,4.945000,4.4311
std,577.494589,12.614195,11.438799,9.910919,1.055494,0.852592,2.580672,2.570849,2.632458,19690.991216,5.813682,10.105914,2.271245,2.1683
min,1.000000,21.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,30000.000000,0.000000,0.000000,0.000000,1.0000
25%,500.750000,32.000000,10.000000,13.000000,0.000000,2.800000,3.100000,3.300000,3.200000,56213.750000,4.700000,23.000000,3.000000,2.8000
50%,1000.500000,43.000000,20.000000,21.000000,1.000000,3.500000,5.400000,5.500000,5.500000,70092.500000,9.900000,30.000000,5.000000,4.4000
75%,1500.250000,54.000000,29.000000,27.000000,2.000000,4.200000,7.500000,7.700000,7.800000,83592.750000,14.900000,37.000000,6.000000,5.9000
max,2000.000000,64.000000,39.000000,53.000000,7.000000,5.000000,10.000000,10.000000,10.000000,132801.000000,20.000000,57.000000,17.000000,10.0000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   employee_id              2000 non-null   int64
 1   age                      2000 non-null   int64
 2   years_experience         2000 non-null   int64
 3   education_level          2000 non-null   object
 4   department               2000 non-null   object
 5   company_size             2000 non-null   object
 6   region                   2000 non-null   object
 7   gender                   2000 non-null   object
 8   ethnicity                2000 non-null   object
 9   marital_status           2000 non-null   object
 10  remote_status            2000 non-null   object
 11  training_hours           2000 non-null   float64
 12  certifications_count     2000 non-null   int64
 13  job_level                2000 non-null   object
 14  performance_rating       2000 non-null   float64
 15  manager_feedback_score   2000 non-null   float64
 16  work_life_balance_score  2000 non-null   float64
 17  salary_satisfaction      2000 non-null   float64
 18  annual_income_usd        2000 non-null   float64
 19  bonus_percent            2000 non-null   float64
 20  commute_time_minutes     2000 non-null   float64
 21  overtime_hours_monthly   2000 non-null   int64
 22  job_satisfaction_score   2000 non-null   float64
 23  promoted_next_year       2000 non-null   object
 24  left_company             2000 non-null   object
dtypes: float64(9), int64(5), object(11)
memory usage: 390.8+ KB

,employee_id,age,years_experience,education_level,department,company_size,region,gender,ethnicity,marital_status,...,manager_feedback_score,work_life_balance_score,salary_satisfaction,annual_income_usd,bonus_percent,commute_time_minutes,overtime_hours_monthly,job_satisfaction_score,promoted_next_year,left_company
0,1,59,18,bachelor,HR,small,south,female,hispanic,married,...,1.9,8.4,9.7,58066.0,1.7,33.0,9,6.5,no,no
1,2,49,10,bachelor,IT,medium,north,female,other,married,...,8.8,6.2,9.4,91402.0,13.5,30.0,5,6.6,no,no
2,3,35,0,bachelor,Finance,small,north,female,black,married,...,3.7,5.2,5.3,89372.0,11.6,40.0,5,5.4,no,no
3,4,63,23,bachelor,HR,medium,west,male,other,married,...,7.3,6.8,7.8,54380.0,5.8,48.0,2,4.2,no,no
4,5,28,6,bachelor,Finance,small,west,female,white,single,...,8.4,5.2,7.0,70198.0,15.6,37.0,6,2.5,no,yes